@tailwind base;
@tailwind components;
@tailwind utilities;
.fullscreen.fullscreen-enabled {
  background: #fff;
  padding: 24px;
}

.fullscreen-enabled .ant-table-body {
  max-height: 85vh !important;
}
